<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Game <%= id %></title>
  <link rel="stylesheet" href="/styles/pico.css" />
  <link rel="stylesheet" href="/styles/chat.css" />
  <!-- <link rel="stylesheet" href="/styles/landing.css" /> -->
  <link rel="stylesheet" href="/styles/games.css" />
</head>

<body>
  <main>
    <div class="game-set">
      <div class="play-area">
        <p>Current turn: <%= currentPlayerId ? 'Your Turn' : 'Waiting...' %></p>
        <div class="buttons-container">
          <button>Draw</button>
          <button>Skip</button>
          <button>Say Uno !!!</button>
        </div>
      </div>

      <div class="centered-image">
        <img src="../current-card.png" alt="Centered Image">
      </div>

      <div class="my-area">
        <!-- <img src="../red-0.png" alt="Button 1" class="mycard-button" />
        <img src="../green-null.png" alt="Button 2" class="mycard-button" />
        <img src="../yellow-reverse.png" alt="Button 3" class="mycard-button" />
        <img src="../yellow-3.png" alt="Button 4" class="mycard-button" /> -->
      </div>

      <div id="winPopup" class="popup">
        <div class="popup-content">
          <h2>Game Over</h2>
          <p>The winner: Anh</p>
          <button class="close-popup" onclick="closePopup()">Close</button>
        </div>
      </div>

      <script>
        function openPopup(winnerName) {
          document.getElementById("winnerName").innerText = winnerName;
          document.getElementById("winPopup").style.display = "flex";
        }
        function closePopup() {
          document.getElementById("winPopup").style.display = "none";
        }
      </script>
      
    </div>

    <div class="chat-set">
      <nav>
        <div class="exit-button"><a href="/">Exit Game</a></div>
        <form action="/sign_in" method="POST">
            <button class="logout">Logout</button>
        </form>
      </nav>

      <h2>Game <%= id %></h2>
      <%- include('chat', { roomId: 0 }) %>
    </div>
    

  </main>
</body>

</html>