<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Lobby</title>
  <link rel="stylesheet" href="/styles/pico.css" />
  <link rel="stylesheet" href="/styles/chat.css" />
  <link rel="stylesheet" href="/styles/landing.css" />
</head>

<body>
  <main>
    <div class="game-set">
      <div class="container">
        <div class="avatar-container">
          <img src="../images/lobby-avt.gif" alt="Avatar" class="avatar">
        </div>

        <div class="button-options">
          <% if (user) { %>
            <p>Welcome <%= user.username %>
            </p>
            <% } else { %>
              <p>Welcome guest</p>
              <% } %>
                <button type="submit"><a href="/set_newgame">START NEW GAME</a></button>
                <button type="submit"><a href="/join_game">JOIN GAME</a></button>
                <!-- <form action="/join_game" method="POST">
            <button type="submit">JOIN GAME</button>
          </form> -->
                <!-- <button type="submit">MY RECORDS</button> -->
                <button type="submit"><a href="https://www.officialgamerules.org/uno">RULES</a></button>
                <form action="/sign_in" method="POST">
                  <button type="submit">LOG OUT</button>
                </form>
        </div>
      </div>
    </div>

    <div class="chat-set">
      <form action="/sign_in" method="POST">
        <div>

        </div>
        <nav>
          <button class="logout">Logout</button>
        </nav>
      </form>

      <h2>Lobby Chat</h2>
      <p>Current User: <%= user.username %>
      </p>

      <%- include('chat', { roomId: 0 }) %>
    </div>



  </main>
</body>

</html>