<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Log In</title>
  <link rel="stylesheet" href="/styles/pico.css" />
  <link rel="stylesheet" href="/styles/login.css" />
</head>

<body>
  <main class="container">
    <div class="avatar-container">
      <img src="../images/login-avt.gif" alt="Avatar" class="avatar">
    </div>
    <h1>Login</h1>

    <form method="POST" action="/sign_in">
      <% if (messages.error) { %>
        <div class="alert alert-danger">
          <strong>
            <%= messages.error %>
          </strong>
        </div>
        <% } %>
          <label for="email">
            <input type="email" name="email" id="email" placeholder="Email" />
          </label>
          <label for="password">
            <input type="password" name="password" id="password" placeholder="Password" />
          </label>

          <div class="button-options">
            <button type="submit" name="signup1"><a href="/sign_up">Create an account</a></button>
            <button type="submit" name="login1">Login</button>
          </div>
    </form>
  </main>
</body>

</html>