<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login - Say Uno</title>
  <link rel="stylesheet" href="/styles/pico.css" />
  <style>
    body {
      margin: 0;
      padding: 0;
      background: url('../background.jpg') center/cover no-repeat;
      font-family: Arial, sans-serif;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }

    h1 {
      color: black;
    }

    nav {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background-color: white;
      padding: 10px;
      text-align: center;
      z-index: 1000;
    }

    nav ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    nav ul li {
      display: inline-block;
      margin-right: 10px;
    }

    main.container {
      width: 50%;
      max-width: 400px;
      background-color: white;
      padding: 25px;
      border-radius: 10px;
      text-align: center;
    }

    form {
      margin-top: 20px;
      color: black;
    }

    input {
      background-color: whitesmoke;
    }

    .avatar-container {
      margin-top: 20px;
    }

    .avatar {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      object-fit: cover;
    }

    .button-options {
      border: none;
      cursor: pointer;
      border-radius: 5px;
      display: flex;
      justify-content: space-between;
    }

    button[name="signup"] {
      width: 50%;
      background-color: rgb(186, 186, 186);
      color: white;
    }

    button[name="login"] {
      width: 45%;
      background-color: rgb(255, 182, 46);
      color: white;
    }

    .alert {
      background-color: #f8d7da;
      color: #721c24;
      padding: 8px;
      margin-bottom: 16px;
      border: 1px solid #f5c6cb;
      border-radius: 4px;
    }
  </style>
</head>

<body>
  <main class="container">
    <div class="avatar-container">
      <img src="../login-avt.gif" alt="Avatar" class="avatar">
    </div>
    <h1>Login</h1>

    <!-- Display alert message if it exists -->
    <% if (message) { %>
      <div class="alert">
        <%= message %>
      </div>
    <% } %>

    <form method="post" action="/auth/sign_in">
      <label for="email">
        <input type="email" name="email" id="email" placeholder="Email" />
      </label>
      <label for="password">
        <input type="password" name="password" id="password" placeholder="Password" />
      </label>

      <div class="button-options">
        <button type="submit" name="signup" formaction="/auth/sign_up">Sign In</button>
        <button type="submit" name="login">Login</button>
      </div>
    </form>
  </main>
</body>

</html>