<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Set Up New Game</title>
  <link rel="stylesheet" href="/styles/pico.css" />
  <link rel="stylesheet" href="/styles/chat.css" />
  <link rel="stylesheet" href="/styles/landing.css" />
</head>

<body>
  <main>
    <div class="game-set">
      <div class="container">
        <div class="avatar-container">
          <img src="../images/set-newgame-avt.gif" alt="Avatar" class="avatar">
        </div>
        <form id="newGameForm" method="POST">  <!-- POST to set_newgame route  -->
          <div class="select-container">
            <div class="num-select">
              <select name="playerCount" id="playerCount" required>
                <option value="">Select number of player(s)</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
              </select>
            </div>

            <div class="player-select">
              <select name="playerType" id="playerType">
                <option value="">Select your player(s)</option>
                <option value="1">Computer</option>
                <option value="2">Your friends</option>
                <option value="2">Random people</option>
              </select>
            </div>
          </div>

          <div class="button-options">
            <button type="button" onclick="submitForm()">CREATE A GAME</button>
            <button type="submit"><a href="/">Exit</a></button>
          </div>
        </form>
      </div>
    </div>


    <div class="chat-set">
      <form action="/sign_in" method="POST">
        <nav>
          <button class="logout">Logout</button>
        </nav>
      </form>

      <h2>Lobby Chat</h2>
      <%- include('chat', { roomId: 0 }) %>
    </div>

    <script>
      function submitForm() {
        // Get the form element by ID
        var form = document.getElementById("newGameForm");
    
        // Submit the form
        form.submit();
      }
    
      function exit() {
        // Redirect to the specified URL ("/") or perform any other action
        window.location.href = "/";
      }
    </script>
  </main>
</body>

</html>