<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Sign Up</title>
  <link rel="stylesheet" href="/styles/pico.css" />
  <link rel="stylesheet" href="/styles/login.css" />

</head>

<body>
  <main class="container">
    <div class="avatar-container">
      <img src="../images/signup-avt.gif" alt="Avatar" class="avatar">
    </div>
    <h1>Create New Account</h1>

    <form method="POST" action="/sign_up">
      <label for="username">
        <input type="text" name="username" id="name" placeholder="Username" />
      </label>
      <label for="email">
        <input type="email" name="email" id="email" placeholder="Email" />
      </label>
      <label for="password">
        <input type="password" name="password" id="password" placeholder="Password" /></label>

      <div class="button-options">
        <button type="submit" name="login2"><a href="/sign_in">Login</a></button>
        <button type="submit" name="signup2">Sign In</button>
      </div>
    </form>
  </main>
</body>

</html>